.container {
  display: flex;

  color: var(--horse-muted-text);
}

.divider {
  width: 80px;
}

.matchDate {
  flex: 1;

  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;

  &:first-child {
    padding-left: 40px;
  }

  &:last-child {
    padding-right: 40px;
  }
}
