.root {
  display: flex;
  flex-direction: row;
  height: 64px;
  min-height: 64px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 44px;

  color: rgba(0, 0, 0, 0.67);
  font-size: 0.8rem;
}

.logotype {
  width: 32px;
  height: 32px;
}

.buttonHome {
  display: flex;
  align-items: center;
  min-height: 56px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;

  span {
    flex: 1;
    text-align: center;
  }

  img {
    width: 28px;
    height: 28px;
  }
}

.buttonAway {
  display: flex;
  align-items: center;
  min-height: 56px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;

  span {
    flex: 1;
    text-align: center;
  }

  img {
    width: 28px;
    height: 28px;
  }
}

.team {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
