.container {
  padding-top: 20px;
}

.matchup {
  display: flex;
  flex-direction: row;
  height: 64px;
  min-height: 64px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;

  color: rgba(0, 0, 0, 0.67);
  font-weight: 600;
}

.information {
  margin: 16px 0 0;
}

.logotype {
  width: 32px;
  height: 32px;
}

.buttonHome {
  display: flex;
  align-items: center;
  min-height: 56px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;

  span {
    flex: 1;
    text-align: center;
  }

  img {
    width: 28px;
    height: 28px;
  }
}

.buttonAway {
  display: flex;
  align-items: center;
  min-height: 56px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;

  span {
    flex: 1;
    text-align: center;
  }

  img {
    width: 28px;
    height: 28px;
  }
}

.team {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.detailsButton {
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  min-height: 36px;
  text-transform: uppercase;
  max-height: 36px;
  font-weight: 600;
  font-size: 11px;
  border: none;
  background: transparent;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: background-color 0.075s ease-in;

  &:hover {
    background-color: var(--horse-grey-dark);
    color: rgba(0, 0, 0, 0.67) !important;
    box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.18);
  }

  &:active {
    background-color: var(--horse-grey-darker);
    color: rgba(0, 0, 0, 0.67) !important;
  }
}

.detailsButtonLink {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.5) !important;
}
