.item {
  display: flex;
  align-items: center;

  padding: 0 16px;
  height: 48px;
  max-height: 48px;
  min-height: 48px;

  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;

  &:nth-child(2n -1) {
    background-color: #eee;
  }
}

.rank {
  width: 48px;
}

.name {
}

.spacing {
  height: 24px;
}

.self {
  position: relative;

  background-color: #419544 !important;
  color: #fff;
  font-weight: 500;

  box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.21);
  z-index: 1;
}
