@import '../../../variables.scss';

.root {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 64px;

  background-color: transparent;
}

.title {
  color: $primary;
  font-size: $baseText * 5;
  text-transform: uppercase;
}
