.toolbar {
  @apply flex flex-row items-center max-w-xl m-auto text-white;

  padding: 0 12px;
  height: 100%;
}

.toolbar__icon {
  color: rgba(255, 255, 255, 0.5);

  transition: color 0.125s;
}

.toolbar__icon:hover {
  color: rgba(255, 255, 255, 0.75);
}

.toolbar__container {
  @apply fixed;

  top: 0;
  right: 0;
  left: 0;

  min-height: 64px;
  height: 64px;

  background-color: #2f2f2feb;
  box-shadow: 0 3.5px 7px rgba(0, 0, 0, 0.18);
  box-sizing: border-box;
  z-index: 2;
}

.toolbar__spacer {
  height: 64px;
}

.subtitle {
  display: block;

  font-size: 18px;
  font-weight: 400;
}

.toolbar__title {
  @apply block uppercase text-green-100;

  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
