.container {
  display: flex;

  color: rgba(255, 255, 255, 0.75);
}

.divider {
  width: 80px;
}

.matchDate {
  flex: 1;

  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}
