.root {
  display: flex;
  flex-direction: row;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 56px;

  font-size: 0.8rem;
}

.logotype {
  width: 32px;
  height: 32px;
}

.team {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
