@import '../../../variables.scss';

.root {
  border: none;
  outline: none;
  padding: 0 $base * 2px;
  min-height: $base * 4.5px;

  border-radius: $base * 0.5px;
  background-color: $grey;
  color: $textDarkPrimary;
  cursor: pointer;
  font-size: inherit;
  font-weight: 500;
  text-align: center;

  transition: background-color 0.075s ease-in;

  &:hover {
    background-color: $greyDark;
  }

  &:active {
    background-color: $greyDarker;
  }

  &:disabled {
    cursor: initial;

    &:hover,
    &:active {
      background-color: $grey;
    }
  }
}

.fullWidth {
  width: 100%;
}

.primary {
  background-color: $primary;
  color: $textLightPrimary;

  &:hover {
    background-color: $primaryDark;
  }

  &:active {
    background-color: $primaryDarker;
  }
}
