@import 'variables.scss';

:global {
  html {
    font-size: $fontSize;
  }

  body {
    margin: 0;
    padding: 0;

    background-color: $backgroundColor;
    font-family: $font;
  }
}

:root {
  // Colors
  --horse-primary-light: #7fb37d;
  --horse-primary: #4caf50;
  --horse-primary-dark: #419544;
  --horse-primary-darker: #306f33;
  --horse-primary-text: #fff;

  --horse-secondary: red;
  --horse-secondary-text: #fff;

  --horse-tertiary-light: #fde67b61;
  --horse-tertiary: #fde67b;
  --horse-tertiary-text: rgba(0, 0, 0, 0.87);

  --horse-grey: #ddd;
  --horse-grey-dark: #ccc;
  --horse-grey-darker: #bbb;

  --horse-background: #343637;

  --horse-text: rgba(0, 0, 0, 0.87);
  --horse-muted-text: rgba(0, 0, 0, 0.67);

  // Text colors
  $textDarkPrimary: rgba(0, 0, 0, 0.87);
  $textDarkSecondary: rgba(0, 0, 0, 0.67);
  $textDarkMuted: rgba(0, 0, 0, 0.5);

  $textLightPrimary: #fff;
  $textLightSecondary: rgba(255, 255, 255, 0.75);
  $textLightMuted: rgba(255, 255, 255, 0.5);

  // Font
  $font: Roboto, Segoe UI, Verdana;
  $fontSize: 16px;
}
